.login-form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.form-field{
    width:100%;
}

.form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}